# Titanic Wrangling

In this practice activity you'll continue to work with the titanic dataset in ways that flex what you've learned about both data wrangling and data visualization.

R and Puthon likes Skinny data : Tudey data and use library(tidyverse) for data

In [ ]:
# Import the titanic dataset here
import numpy as np
import pandas as pd
data_dir = "https://dlsun.github.io/pods/data/"
df_titanic = pd.read_csv(data_dir + "titanic.csv")
df_titanic

,name,gender,age,class,embarked,country,ticketno,fare,survived
0,"Abbing, Mr. Anthony",male,42.0,3rd,S,United States,5547.0,7.11,0
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0
2,"Abbott, Mr. Rossmore Edward",male,16.0,3rd,S,United States,2673.0,20.05,0
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1
4,"Abelseth, Miss. Karen Marie",female,16.0,3rd,S,Norway,348125.0,7.13,1
...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,41.0,deck crew,B,England,NaN,NaN,1
2203,"Yearsley, Mr. Harry",male,40.0,victualling crew,S,England,NaN,NaN,1
2204,"Young, Mr. Francis James",male,32.0,engineering crew,S,England,NaN,NaN,0
2205,"Zanetti, Sig. Minio",male,20.0,restaurant staff,S,England,NaN,NaN,0
2206,"Zarracchi, Sig. L.",male,26.0,restaurant staff,S,England,NaN,NaN,0

Seprrate data = in which change NAME = first name and last nimae and title

In [ ]:
#usually preferred in case the dataset is large.
df_titanic.head()

,name,gender,age,class,embarked,country,ticketno,fare,survived
0,"Abbing, Mr. Anthony",male,42.0,3rd,S,United States,5547.0,7.11,0
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0
2,"Abbott, Mr. Rossmore Edward",male,16.0,3rd,S,United States,2673.0,20.05,0
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1
4,"Abelseth, Miss. Karen Marie",female,16.0,3rd,S,Norway,348125.0,7.13,1

4.3 The “Big Five” Verbs of Data Wrangling
Data wrangling can involve a lot of different steps and operations to get data into a tidy format and ready for analysis and visualization. The vast majority of these fall under the umbrella one the following five operations:

Select columns/variables of interest

Filter rows/observations of interest

Arrange the rows of a dataset by column(s) of interest (i.e. order or sort)

Mutate the columns of a dataset (i.e. create or transform variables)

Summarize the rows of a dataset for column(s) of interest
**bold text**

In [ ]:
#This is series
type(df_titanic["age"])

pandas.core.series.Series

In [ ]:
#Use .loc, specifying both the rows and columns. (The colon : is Python shorthand for “all”.)

df_titanic.loc[:, "age"]

# Access the column as you would a key in a dict.

df_titanic["age"]

# Access the column as an attribute of the DataFrame.

df_titanic.age

0       42.0
1       13.0
2       16.0
3       39.0
4       16.0
        ...
2202    41.0
2203    40.0
2204    32.0
2205    20.0
2206    26.0
Name: age, Length: 2207, dtype: float64

In [ ]:
# Gave the whole dataset

df_titanic[["age"]]

       age
0     42.0
1     13.0
2     16.0
3     39.0
4     16.0
...    ...
2202  41.0
2203  40.0
2204  32.0
2205  20.0
2206  26.0

[2207 rows x 1 columns]

4.3.2.1 Selecting Rows/Observations by Location
Before we see how to filter (i.e. subset) the rows of dataset based on some condition, let’s see how to select rows by explicitly identifying them.

In [ ]:
#We can select a row by its position using the .iloc
df_titanic.iloc[3]

name        Abbott, Mrs. Rhoda Mary 'Rosa'
gender                              female
age                                   39.0
class                                  3rd
embarked                                 S
country                            England
ticketno                            2673.0
fare                                 20.05
survived                                 1
Name: 3, dtype: object

In [ ]:
# We can also select multiple rows by passing a list of positions to .iloc.

df_titanic.iloc[[1, 3]]

,name,gender,age,class,embarked,country,ticketno,fare,survived
1,"Abbott, Mr. Eugene Joseph",male,13.0,3rd,S,United States,2673.0,20.05,0
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.05,1

Selecting Rows/Observations by Condition
We’ll often want to filter or subset the rows of a dataset based on some condition. To do this we’ll take advantage of vectorization and boolean masking. **bold text**

In [ ]:
# we can compare the values of a variable/column to a particular value
df_titanic["age"] > 30

0        True
1       False
2       False
3        True
4       False
        ...
2202     True
2203     True
2204     True
2205    False
2206    False
Name: age, Length: 2207, dtype: bool

In [ ]:
over_30_tf = (df_titanic["age"] < 15) | (df_titanic["age"] > 30)
over_30_tf

0        True
1        True
2       False
3        True
4       False
        ...
2202     True
2203     True
2204     True
2205    False
2206    False
Name: age, Length: 2207, dtype: bool

In [ ]:

titanic_only = df_titanic[(df_titanic["age"] > 30) & (df_titanic["gender"] == "female")]
titanic_only

,name,gender,age,class,embarked,country,ticketno,fare,survived
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,39.0,3rd,S,England,2673.0,20.0500,1
12,"Ahlin, Mrs. Johanna Persdotter",female,40.0,3rd,S,Sweden,7546.0,9.0906,0
35,"Andersson, Miss. Ida Augusta Margareta",female,38.0,3rd,S,Sweden,347091.0,7.1506,0
40,"Andersson, Mrs. Alfrida Konstantia Brogren",female,39.0,3rd,S,Sweden,347082.0,31.0506,0
44,"Andrews, Miss. Kornelia Theodosia",female,62.0,1st,C,United States,13502.0,77.1902,1
...,...,...,...,...,...,...,...,...,...
1997,"Robinson, Mrs. Annie",female,41.0,victualling crew,S,England,NaN,NaN,1
2059,"Smith, Miss. Katherine Elizabeth",female,45.0,victualling crew,S,England,NaN,NaN,1
2076,"Stap, Miss. Sarah Agnes",female,47.0,victualling crew,S,England,NaN,NaN,1
2143,"Wallis, Mrs. Catherine Jane",female,36.0,victualling crew,S,England,NaN,NaN,0
2145,"Walsh, Miss. Catherine",female,32.0,victualling crew,S,Ireland,NaN,NaN,0

# Question = With the 2-3 people around you, how would you find the just the names of the males under 20 years of age who survived (in the titanic dataset) with a single line of code?

In [ ]:
titanic_male = df_titanic[(df_titanic["age"] < 20) & (df_titanic["gender"] == "male")& (df_titanic ["survived"]== 1)]
titanic_male

,name,gender,age,class,embarked,country,ticketno,fare,survived
13,"Aks, Master. Frank Philip",male,0.833333,3rd,S,England,392091.0,9.0700,1
22,"Allison, Master. Hudson Trevor",male,0.916667,1st,S,Canada,113781.0,151.1600,1
58,"Asplund, Master. Edvin Rojj Felix",male,3.000000,3rd,S,Sweden,347077.0,31.0709,1
62,"Asplund, Mr. Johan Charles",male,13.000000,3rd,S,Sweden,350054.0,7.1511,1
104,"Becker, Master. Richard F.",male,1.000000,2nd,S,India,230136.0,39.0000,1
183,"Caldwell, Master. Alden Gates",male,0.833333,2nd,S,Siam,248738.0,29.0000,1
206,"Carter, Master. William Thornton II",male,11.000000,1st,S,United States,113760.0,120.0000,1
244,"Cohen, Mr. Gurshon",male,18.000000,3rd,S,England,3540.0,8.0100,1
274,"Coutts, Master. Neville Leslie",male,3.000000,3rd,S,England,37671.0,15.1800,1
275,"Coutts, Master. William Loch",male,9.000000,3rd,S,England,37671.0,15.1800,1
304,"Davies, Master. John Morgan jr",male,8.000000,2nd,S,England,33112.0,36.1500,1
315,"Dean, Master. Bertram Vere",male,1.000000,3rd,S,England,2315.0,20.1106,1
338,"Dodge, Master. Washington",male,4.000000,1st,S,United States,33638.0,81.1702,1
344,"Dorking, Mr. Edward Arthur",male,18.000000,3rd,S,England,10482.0,8.0100,1
353,"Drew, Master. Marshall Brines",male,8.000000,2nd,S,United States,28220.0,32.1000,1
457,"Goldsmith, Master. Frank John William",male,9.000000,3rd,S,England,363291.0,20.1006,1
491,"Hämäläinen, Master. Viljo Unto Johannes",male,0.583333,2nd,S,United States,250649.0,14.1000,1
613,"Johnson, Master. Harold Theodor",male,4.000000,3rd,S,NaN,347742.0,11.0208,1
761,"Mallet, Master. André Clement",male,1.000000,2nd,C,France,2079.0,37.0000,1
764,"Māmā, Mr. Hannā Mikā'īl",male,18.000000,3rd,C,Lebanon,2677.0,7.0407,1
782,"McCormack, Mr. Thomas Joseph",male,19.000000,3rd,Q,United States,367228.0,7.1500,1
804,"Mellors, Mr. William John",male,19.000000,2nd,S,England,751.0,10.1000,1
829,"Moor, Master. Meier",male,7.000000,3rd,S,NaN,392096.0,12.0906,1
840,"Mubārik, Master. Halīm",male,4.000000,3rd,C,Lebanon,2661.0,15.0411,1
841,"Mubārik, Master. Jirjis",male,7.000000,3rd,C,Lebanon,2661.0,15.0411,1
867,"Navratil, Master. Edmond Roger",male,2.000000,2nd,S,France,230080.0,26.0000,1
868,"Navratil, Master. Michel Marcel",male,3.000000,2nd,S,France,230080.0,26.0000,1
883,"Nīqūla Yārid, Master. Ilyās",male,11.000000,3rd,C,Lebanon,2651.0,11.0410,1
906,"Olsen, Master. Artur Karl",male,9.000000,3rd,S,Norway,17368.0,3.0305,1
967,"Peter / Joseph, Master. Michael J.",male,4.000000,3rd,C,Lebanon,2668.0,22.0702,1
1013,"Richards, Master. Sibley George",male,0.750000,2nd,S,England,29106.0,18.1500,1
1014,"Richards, Master. William Rowe",male,3.000000,2nd,S,England,29106.0,18.1500,1
1049,"Ryerson, Master. John Borie",male,13.000000,1st,C,United States,17608.0,262.0706,1
1144,"Spedden, Master. Robert Douglas",male,6.000000,1st,C,United States,16966.0,134.1000,1
1177,"Svensson, Mr. Johan Cervin",male,14.000000,3rd,S,Sweden,7538.0,9.0406,1
1182,"Tannūs, Master. As'ad",male,0.416667,3rd,C,Lebanon,2625.0,8.1004,1
1193,"Thayer, Mr. John Borland jr",male,17.000000,1st,C,United States,17421.0,110.1708,1
1215,"Tu'mah, Master. Jirjis Yūsuf",male,8.000000,3rd,C,Lebanon,2650.0,15.0411,1
1265,"Wells, Master. Ralph Lester",male,2.000000,2nd,S,England,29103.0,23.0000,1
1335,"Andrews, Mr. Charles Edward",male,19.000000,victualling crew,S,England,NaN,NaN,1
1349,"Ball, Mr. Percy",male,19.000000,victualling crew,S,England,NaN,NaN,1
1441,"Burgess, Mr. Charles",male,18.000000,victualling crew,S,England,NaN,NaN,1
1485,"Collins, Mr. John",male,17.000000,victualling crew,S,Northern Ireland,NaN,NaN,1
1520,"Daniels, Mr. Sidney Edward",male,18.000000,victualling crew,S,England,NaN,NaN,1
1708,"Hyland, Mr. James Leo",male,19.000000,victualling crew,S,England,NaN,NaN,1
1934,"Perry, Mr. Edgar Lionel",male,19.000000,engineering crew,S,England,NaN,NaN,1
2166,"Whiteley, Mr. Thomas Arthur",male,18.000000,victualling crew,S,England,NaN,NaN,1

#Arrange Rows
As part of exploratory data analysis and some reporting efforts, we will want to sort a dataset or set of results by one or more variables of interest.

In [ ]:
# We can do this with .sort_values in either ascending or descending order.
df_titanic.sort_values(by = ["age"], ascending=False)

,name,gender,age,class,embarked,country,ticketno,fare,survived
1176,"Svensson, Mr. Johan",male,74.000000,3rd,S,Sweden,347060.0,7.1506,0
820,"Mitchell, Mr. Henry Michael",male,72.000000,2nd,S,England,24580.0,10.1000,0
53,"Artagaveytia, Mr. Ramon",male,71.000000,1st,C,Argentina,17609.0,49.1001,0
456,"Goldschmidt, Mr. George B.",male,71.000000,1st,C,United States,17754.0,34.1301,0
282,"Crosby, Captain. Edward Gifford",male,70.000000,1st,S,United States,5735.0,71.0000,0
...,...,...,...,...,...,...,...,...,...
1182,"Tannūs, Master. As'ad",male,0.416667,3rd,C,Lebanon,2625.0,8.1004,1
296,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.333333,3rd,S,Sweden,347080.0,14.0800,0
316,"Dean, Miss. Elizabeth Gladys 'Millvina'",female,0.166667,3rd,S,England,2315.0,20.1106,1
439,"Gheorgheff, Mr. Stanio",male,NaN,3rd,C,Bulgaria,349254.0,7.1711,0
677,"Kraeff, Mr. Theodor",male,NaN,3rd,C,Bulgaria,349253.0,7.1711,0

# Mutate The variables available to us in our original dataset contain all of the information we have access to, but the best insights may instead come from transformations of those variables.

Transforming Quantitative Variables
One of the simplest reasons to want to transform a quantitative variable is to change the measurement units

In [ ]:
#
df_titanic["age"] = df_titanic["age"] / 10

Transforming Categorical Variables:

Male to Female or Not Feamle

In [ ]:
# Female or Not Female
df_titanic_female = df_titanic["female"] = 1 * (df_titanic["gender"] == "female")
df_titanic

,name,gender,age,class,embarked,country,ticketno,fare,survived,female
0,"Abbing, Mr. Anthony",male,4.2,3rd,S,United States,5547.0,7.11,0,0
1,"Abbott, Mr. Eugene Joseph",male,1.3,3rd,S,United States,2673.0,20.05,0,0
2,"Abbott, Mr. Rossmore Edward",male,1.6,3rd,S,United States,2673.0,20.05,0,0
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,3.9,3rd,S,England,2673.0,20.05,1,1
4,"Abelseth, Miss. Karen Marie",female,1.6,3rd,S,Norway,348125.0,7.13,1,1
...,...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,4.1,deck crew,B,England,NaN,NaN,1,0
2203,"Yearsley, Mr. Harry",male,4.0,victualling crew,S,England,NaN,NaN,1,0
2204,"Young, Mr. Francis James",male,3.2,engineering crew,S,England,NaN,NaN,0,0
2205,"Zanetti, Sig. Minio",male,2.0,restaurant staff,S,England,NaN,NaN,0,0
2206,"Zarracchi, Sig. L.",male,2.6,restaurant staff,S,England,NaN,NaN,0,0

In [ ]:
# Male or Not Male
df_titanic_male = df_titanic["male"] = 1 * (df_titanic["gender"] == "male")
df_titanic

,name,gender,age,class,embarked,country,ticketno,fare,survived,female,male
0,"Abbing, Mr. Anthony",male,4.2,3rd,S,United States,5547.0,7.11,0,0,1
1,"Abbott, Mr. Eugene Joseph",male,1.3,3rd,S,United States,2673.0,20.05,0,0,1
2,"Abbott, Mr. Rossmore Edward",male,1.6,3rd,S,United States,2673.0,20.05,0,0,1
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,3.9,3rd,S,England,2673.0,20.05,1,1,0
4,"Abelseth, Miss. Karen Marie",female,1.6,3rd,S,Norway,348125.0,7.13,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,4.1,deck crew,B,England,NaN,NaN,1,0,1
2203,"Yearsley, Mr. Harry",male,4.0,victualling crew,S,England,NaN,NaN,1,0,1
2204,"Young, Mr. Francis James",male,3.2,engineering crew,S,England,NaN,NaN,0,0,1
2205,"Zanetti, Sig. Minio",male,2.0,restaurant staff,S,England,NaN,NaN,0,0,1
2206,"Zarracchi, Sig. L.",male,2.6,restaurant staff,S,England,NaN,NaN,0,0,1

In [ ]:
df_titanic["type"] = df_titanic["class"].map({
    "1st": "passenger",
    "2nd": "passenger",
    "3rd": "passenger",
    "victualling crew": "crew",
    "engineering crew": "crew",
    "deck crew": "crew"
})

df_titanic

,name,gender,age,class,embarked,country,ticketno,fare,survived,female,male,type
0,"Abbing, Mr. Anthony",male,4.2,3rd,S,United States,5547.0,7.11,0,0,1,passenger
1,"Abbott, Mr. Eugene Joseph",male,1.3,3rd,S,United States,2673.0,20.05,0,0,1,passenger
2,"Abbott, Mr. Rossmore Edward",male,1.6,3rd,S,United States,2673.0,20.05,0,0,1,passenger
3,"Abbott, Mrs. Rhoda Mary 'Rosa'",female,3.9,3rd,S,England,2673.0,20.05,1,1,0,passenger
4,"Abelseth, Miss. Karen Marie",female,1.6,3rd,S,Norway,348125.0,7.13,1,1,0,passenger
...,...,...,...,...,...,...,...,...,...,...,...,...
2202,"Wynn, Mr. Walter",male,4.1,deck crew,B,England,NaN,NaN,1,0,1,crew
2203,"Yearsley, Mr. Harry",male,4.0,victualling crew,S,England,NaN,NaN,1,0,1,crew
2204,"Young, Mr. Francis James",male,3.2,engineering crew,S,England,NaN,NaN,0,0,1,crew
2205,"Zanetti, Sig. Minio",male,2.0,restaurant staff,S,England,NaN,NaN,0,0,1,NaN
2206,"Zarracchi, Sig. L.",male,2.6,restaurant staff,S,England,NaN,NaN,0,0,1,NaN

In [ ]:
# Summarize Function

df_titanic["age"].mean()

df_titanic["age"].median()


df_titanic[["age", "fare"]].mean()

age      3.043673
fare    33.404760
dtype: float64

In [ ]:
# We can ask for a slightly more comprehensive description using .describe()
df_titanic["age"].describe()

df_titanic.describe()

,age,ticketno,fare,survived,female,male
count,2205.000000,1.316000e+03,1291.000000,2207.000000,2207.000000,2207.000000
mean,3.043673,2.842157e+05,33.404760,0.322157,0.221568,0.778432
std,1.215968,6.334726e+05,52.227592,0.467409,0.415396,0.415396
min,0.016667,2.000000e+00,3.030500,0.000000,0.000000,0.000000
25%,2.200000,1.426225e+04,7.180600,0.000000,0.000000,1.000000
50%,2.900000,1.114265e+05,14.090200,0.000000,0.000000,1.000000
75%,3.800000,3.470770e+05,31.060750,1.000000,0.000000,1.000000
max,7.400000,3.101317e+06,512.060700,1.000000,1.000000,1.000000

In [ ]:
# We can enhance numerical summaries with .groupby(), which allows us to specify one or more variables that we’d like to group our work by.

df_titanic[["age", "survived"]].groupby("survived").mean()

               age
survived
0         3.083194
1         2.960631

# This does not tell us how gender interacts with survival. To do that, we need to produce a cross-tabulation, or a “cross-tab” for short. (Statisticians tend to call this a contingency table or a two-way table.)

In [ ]:
# Helps for the reasrch question and help you nput to articultae the final result

pd.crosstab(df_titanic["survived"], df_titanic["gender"])

gender    female  male
survived
0            130  1366
1            359   352

In [ ]:
# To get probabilities instead of counts, we specify normalize=True.

pd.crosstab(df_titanic["survived"], df_titanic["gender"], normalize=True)

gender      female      male
survived
0         0.058903  0.618940
1         0.162664  0.159493

In [ ]:
pd.crosstab(df_titanic["survived"], df_titanic["gender"], normalize='columns')

gender      female      male
survived
0         0.265849  0.795111
1         0.734151  0.204889

## 1. Filter the data to include passengers only. Calculate the joint distribution (cross-tab) between a passenger's class and where they embarked.